*.db
*.user
*.opendb
Debug/
Release/
.DS_Store
*xcuserdatad*
*.xccheckout
*.stackdump
.vs
Chapter14/Assets/Saved.gplevel
Chapter14/Assets/*.bin
build/
external/

/.repo/*
!/.repo/local_manifests
!/.repo/manifest.xml

.vscode
